<footer>
	<div class="wrapper">
		<small class="copyright pull-left">Copyright &copy; 2014 - Lindsay Bee</small>
		<small class="pixels pull-right" data-original-title="" title="">By <a href="http://www.pixelsandcode.co.uk" target="_blank" data-original-title="" title="">
			<img src="../../app/img/pixels.png" alt="pixels" />
			</a>&copy; 2014</small>
	</div>
</footer>