<header>
	<!-- Tag -->
	<p class="tag"><i class="fa fa-circle"></i>Handmade Wedding Stationery &amp; Gifts<i class="fa fa-circle"></i></p>
	<!-- Account & Social links -->
	<div class="account-social">
		<ul class="list-inline account-bar">
			<li><a href="#" data-toggle="modal" data-target="#signinModal">Sign In</a></li>
			<li class="bag"><a href="/store/basket">My Bag 0 Items</a></li>
		</ul>
		<ul class="list-inline socials">
			<li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		</ul>
		<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="Sign In">
			<div class="modal__dialog">
						<div class="modal__content">
							<header class="modal__header">
								<button type="button" class="btn--close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h3>Sign in!</h3>
							</header>
							<div class="modal__body">
								<form role="form" class="form form--inline">
									<fieldset class="controls">
										<label for="exampleInputEmail2" class="sr-only controls--label">Email address</label>
										<input type="email" class="controls--control" id="exampleInputEmail2" placeholder="Enter email">
									</fieldset>
									<fieldset class="controls">
										<label for="exampleInputPassword2" class="sr-only controls--label">Password</label>
										<input type="password" class="controls--control" id="exampleInputPassword2" placeholder="Password">
									</fieldset>
									<fieldset class="controls">
										<button type="button" class="btn btn--success" data-dismiss="modal">Login</button>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
		</div>
	</div>
	<!-- Logo -->
	<a href="/" class="logo"><img src="/app/img/logo.png" alt="Lindsay Bee"></a>
	<!-- Navigation -->
	<nav class="navbar navbar--main" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar__header">
				<button type="button" class="navbar__toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar__collapse" id="main-nav">
				<ul class="nav  nav--links" role="links">
					<li><a href="#">Wedding Stationery</a></li>
					<li><a href="#">Gifts</a></li>
					<li><a href="#">Cards</a></li>
					<li><a href="#">Bespoke</a></li>
					<li><a href="#">Graphic Design</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Links</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
		</nav>
		<!-- Carousel -->

</header>