<article class="products__product">
	<figure>
		<a href="/store/range"><img class="img img--thumbnail" src="{{ "400x384" | placeholder }}" alt="..."></a>
	</figure>
	<div class="products__product__details">
		<h2>Product Name</h2>
		<p>Description.</p>
		<div class="prices">
			<span class="price">&pound;xx.xx</span>
		</div>
	</div>
    <a href="/store/range" class="btn btn--primary">View Range</a>
</article>