{% layout "bootstrap" %}
{% block content %}

<header class="d-showgrid">
	<h1>Lindsay Bee</h1>
</header>

<main>
	<article>
		<section class="panel">
		<header class="panel__heading">
			<h2>Templates</h2>
			<p>Templates for Lindsay Bee - eCommerce store</p>
		</header>
		<div class="panel__body">
			<ul class="list-group">
				<li class="list-group__item"> <i class="fa fa-picture-o"></i> <a href="/example">Style Guide</a></li>
			</ul>

			<ul class="list-group">
				<h3>Store Templates</h3>
				<li class="list-group__item"><a href="/store/shop">Home Page</a></li>
				<li class="list-group__item"><a href="/store/range">Range</a></li>
				<li class="list-group__item"><a href="/store/product">Product</a></li>
				<li class="list-group__item"><a href="/store/basket">Basket</a></li>
				<li class="list-group__item"><a href="/store/checkout-login">Checkout Login</a></li>
				<li class="list-group__item"><a href="/store/checkout">Checkout</a></li>
				<li class="list-group__item"><a href="/store/pay">Pay</a></li>
				<li class="list-group__item"><a href="/store/thank_you">Thank You</a></li>
			</ul>
		</div>
		<footer class="panel__footer">

		</footer>
	</section>


	</article>

</main>

{% endblock %}