{% block content %}
<!-- TODO: Check markup -->
<!-- TODO: Style page -->
<main>

	<ul id="checkout-steps">
		<h2>Checkout</h2>
		<li><a href="#">Billing Info</a></li>
		<li><a href="#">Shipping Info</a></li>
		<li><a href="#">Shipping Method</a></li>
		<li><a href="#">Review</a></li>
		<li><a href="#">Payment</a></li>
	</ul>

	<section class="pay-sheet">
		checkout forms
	</section>

	<aside class="order-summary">
		<section class="order-summary">
			Order summary
		</section>
		<section class="customer-services">
			Customer Services
		</section>

</main>

{% endblock %}
