{% block content %}
<!-- TODO: Check markup -->
<!-- TODO: Style page -->
<main>

	<section class="thank-you">
		Thank you message
	</section>

	<aside class="order-summary">
		<section class="order-summary">
			Order summary
		</section>
		<section class="customer-services">
			Customer Services
		</section>
	</aside>

</main>

{% endblock %}